################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Convert_ExcelToJSON/obj/Debug
/.vs/Convert_ExcelToJSON/v14
/Convert_ExcelToJSON/bin
